<a href="https://colab.research.google.com/github/RafaelRSR/Pandas-Aula1/blob/main/Pandas_Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Código utilizado na primeira aula do curso de extensão: Análise de dados com Python - Pandas

In [1]:
#Importação da bibloteca pandas
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
#Uso da função display para melhor visualização do DataFrame
display(combustiveis_df)

In [ ]:
#Exibe as primeiras 5 linhas
display(combustiveis_df.head())

In [ ]:
#Exibe as primeiras 15 linhas
display(combustiveis_df.head(15))

In [ ]:
#Comando shape (dataframe.shape)
#Retorna uma tupla com as dimensões do dataframe
#Permite filtrar por linhas ou colunas no formato (linhas, colunas)

print(combustiveis_df.shape) #linhas e colunas
print(combustiveis_df.shape[0]) #apenas linhas
print(combustiveis_df.shape[1]) #apenas colunas

In [18]:
#Comando info (dataframe.info())
#Retorna um resumo com informações do DataFrame
display(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB

None

In [13]:
#Comando describe (dataframe.describe())
display(combustiveis_df.describe())

       Valor de Venda  Valor de Compra
count   168409.000000              0.0
mean         6.005184              NaN
std          0.794541              NaN
min          2.849000              NaN
25%          5.339000              NaN
50%          5.859000              NaN
75%          6.699000              NaN
max          8.990000              NaN